
.board_1stdiv{
    display: grid;
    grid-template-columns: .8fr 1fr;
}

.board_1stdiv>div:first-child{
    height: 100vh;
    background-color: #000;
    color: #fff;
    font-size: 50px;    
    display: flex;
    align-items: center;
    justify-content: center;
}

.board_1stdiv>div:nth-child(2){
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(245, 245, 245, 1);
}

.board_1stdiv>div>div>div>h2{
  margin-bottom: 1px;
font-weight: 700;
font-size: 36px;
}

.board_1stdiv form{
padding: 20px;
border-radius: 16px;
width: 120%;
/* box-shadow: 5px 5px 5px 5px black; */
background-color: rgba(255, 255, 255, 1);
}

.board_1stdiv input{
    width: 100%;
    background-color: #EAEAEA;
    height: 36px;
    border-radius: 8px;
    border: none;
    text-decoration: none;
    font-size: 16px;
}

.board_1stdiv form input{
    margin-bottom: 20px;
    margin-top: 4px;
}

.board_1stdiv form p{
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 2px;
}
.board_1stdiv form button{
    width:100%;
    background-color: #000;
    color: white;
    height: 36px;
    border-radius: 8px;
    margin-top: 12px;
}

.board_1stdiv form button{
    -bottom: 5px;
}

.board_1stdiv div div span{
    color: #346BD5;
}


