.App {
  text-align: center;
  background-color: rgb(26, 26, 26);
  font-family: sans-serif;
}
.App div{
  text-align: center;
}

form{
  box-shadow: 10px 10xp 0 2px solid red;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

*{
  background-color: rgb(26, 26, 26);
  font-family: sans-serif;
}

button:disabled {
  background-color: #ccc; /* Change to your desired color */
  cursor: not-allowed;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main_content {
  /* padding: 400px; */
  /* Add any other styles for your main content here */
  margin-top: 1000px; /* Initial margin between navbars */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

