.navbar{
    display: flex;
    justify-content: space-between;
    background-color: lightgreen;
    padding: 0px 5% 0px 5%;
    align-items: center;
    height:60px;
    background-color: rgb(17, 18, 17);
    position: sticky;
    top: 0; 
    z-index:1;
}

.navbar>div{
    font-size: large;
    font-weight: bold;
}
