/** @format */

@media screen and (max-width: 1300px) {
  #mai {
    background-color: lightgreen;
    display: none;
  }
  #fin {
    display: none;
  }
  #main {
    justify-content: space-between;
  }

  .forall {
    display: none;
    /* justify-content: center; */
  }
}

.kll{
  backgroundcolor: '#28328c';
  textalign: 'center';
}

.kll div{
  display: 'flex';
  backgroundcolor: '#28328c';
  padding: '48px 0';
  justifycontent: 'space-around';
}
.kll{
background-color: aqua;
}
.a1:hover{
  color:darkblue;
}
h6{
  font-size: large;
}

.all{
  display: flex;
  justify-content: space-around;
}
.a1{
  text-decoration: none;
  color: black;
}
span{
margin-left: 25%;
font-size: 30px;
color: blueviolet;
}
